//******VARIABLES******//

//COLORS    

$bgheader: hsl(180, 29%, 50%);
$bglist: hsl(180, 52%, 96%);
$filter: hsl(180, 31%, 95%);
$font1: hsl(180, 8%, 52%);
$font2: hsl(180, 14%, 20%);
$font3: hsl(136, 0%, 75%);

$b-radius: 5px;


*{
    box-sizing: border-box;
}

body{
    background-color: $bgheader;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-flow: wrap column;
    picture{
        height: 7rem;
        img{
            width: 100%;
        }
    }
    .filter-menu{
        display: flex;
        justify-content: flex-end;
        background-color: $filter;
        margin: 4rem 1rem;
        border-radius: $b-radius;
        padding: 1rem;
        box-shadow: 5px 5px 15px lighten($bgheader,25%);

        button{
            color: $font3;
            border: none;
            background-color: transparent;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    #app{
        background-color: darken($bglist,7%);
        padding: 0;
        list-style: none;
        .job-overview{
            position: relative;
            background-color: $filter;
            margin: 4rem 1rem;
             border-left: .5rem solid transparent;
            border-radius: $b-radius;
            padding: 1rem 0;
            box-shadow: 5px 5px 15px lighten($bgheader,25%);
            // &:first-child{
            //     //margin-top: 3.5rem;
            // }
            &:hover{
                border-left: .5rem solid $bgheader;
            }
            .job-logo{
                position: absolute;
                display: block;
                top: -40px;
                left: 20px;
                width: 60px;
            }
            .job-description{
                margin-left: 20px;//omdat .job-logo ook een left van 20px heeft. daarom ook geen rem.
                &-company{
                    font-size: 1rem;
                    color: $font1;
                    span{
                        background-color: $font1;
                        color: $bglist;
                        padding: 6px 6px 3px;
                        margin: 0 .5rem;
                        border-radius: 12px;
                        font-size: .8rem;
                        &:last-child{
                            background-color: $font2;
                        }
                    }
                }
                &-position{
                    font-size: 1.2rem;
                    color: $font2;
                }
                &-extra{
                    background-color: $filter;
                    display: flex;
                    color: darken($font3,20%);
                    font-size: .8rem;
                    list-style-type: disc;
                    border-bottom: 2px solid $font3;
                    width: 94%;
                    //margin: 0 auto;
                    &-item{
                        margin: 0 .6rem 1rem;
                        &:first-child{
                            list-style-type: none;
                            margin-left: 0;
                        }
                    }
                }
            }

        }
        .language-filter{
            list-style: none;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            margin: .5rem 1.5rem;
            li{
                color: $font1;
                font-weight: bold;
                background-color: darken($bglist,7%);
                border-radius: $b-radius;
                padding: .5rem;

            }
        }
    }
    
}

//border-left: .5rem solid $bgheader;